:root {
    --primary: #29242f;
    --link: #9e8ef8;
}
@font-face {
    font-family: 'Hubot Sans';
    src: url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
         url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-display: swap;
}
@font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
         url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-display: swap;
}
@font-face {
    font-family: 'Monaspace Neon';
    src: url('/fonts/Monaspace-Neon.woff2') format('woff2');
    font-display: swap;
    font-weight: 200 800;
    font-style: oblique -11deg 0deg
}
html {

}
body {
    font-family: 'Mona Sans', system-ui, sans-serif;
    font-feature-settings: 'ss01';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.6rem;
    word-break: break-word;
    color: var(--primary);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-text-size-adjust: none;
    margin: 2rem;
}
header {
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* font-size: 1rem; */
}
footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:visited {
    color: var(--link);
}
a:hover {
    text-decoration: underline;
    text-underline-position: from-font;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hubot Sans', system-ui, sans-serif;
    font-feature-settings: "ss01";
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary);
    line-height: 1.2;
    font-weight: 700;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
ul {
    list-style-type: square;
}
