:root {
    --primary: #29242f;
    --link: #29242f;
    --link-decoration: #9e8ef8;
}
@font-face {
    font-family: 'Hubot Sans';
    src: url('/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
         url('/fonts/Hubot-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-display: swap;
}
@font-face {
    font-family: 'Mona Sans';
    src: url('/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
         url('/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-display: swap;
}
@font-face {
    font-family: 'Monaspace Neon';
    src: url('/fonts/Monaspace-Neon.woff2') format('woff2');
    font-display: swap;
    font-weight: 200 800;
    font-style: oblique -11deg 0deg
}
html {
    max-width: 1000px;
    margin: auto;
}
body {
    font-family: 'Mona Sans', system-ui, sans-serif;
    font-feature-settings: 'ss01';
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.8rem;
    word-break: break-word;
    color: var(--primary);
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-text-size-adjust: none;
}
code {
    font-family: 'Monaspace Neon';
    font-feature-settings: 'calt' 1, 'dlig' 1, 'ss01' 1,'ss02' 1, 'ss03' 1,'ss04' 1,'ss05' 1,'ss06' 1,'ss07' 1,'ss08' 1;
    font-size: 1rem;
    padding: 0.2rem 0.2rem 0.1rem 0.2rem;
    background: #29242f0f;
    border: 0.01rem solid #29242f26;
    border-radius: 2px;
}
pre.code {
    font-family: 'Monaspace Neon';
    font-feature-settings: 'calt' 1, 'dlig' 1, 'ss01' 1,'ss02' 1, 'ss03' 1,'ss04' 1,'ss05' 1,'ss06' 1,'ss07' 1,'ss08' 1;
    font-size: 1rem;
    background-color: #efefef;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}
main {
    max-width: 700px;
    margin: auto;
    text-align: justify;
}
.post-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
@media screen and (min-width: 600px) {
    main {
        margin-left: 8rem;
    }
    .navigation {
        margin-left: 8rem;
    }
    .header-text {
        margin-left: 8rem;
    }
}
header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.header-img {
    width: 6rem;
    height: 6rem;
    float: left;
    border-radius: 6rem;
}
.header-text {
    font-weight: 800;
    font-size: 3.3rem;
}
a.nav-link {
    font-family: 'Hubot Sans', system-ui, sans-serif;
    font-feature-settings: 'ss01';
    font-stretch: 75%;
    font-size: 1.75rem;
    text-decoration: none;
    margin-right: 1rem;
}
b.current-nav {
    font-weight: 600;
}
a.nav-link:hover {
    color: var(--link-decoration);
}
@media screen and (max-width: 600px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header-img {
        width: 5rem;
        height: 5rem;
        margin: auto;
    }
    .header-text {
        font-size: 2.5rem;
        margin-left: 6rem;
    }
    a.nav-link {
        font-size: 1.5rem;
        margin-right: 0.5rem;
    }
    .navigation {
        margin-left: 6rem;
    }
}
footer {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    text-align: center;
}
@media screen and (max-width: 600px) {
    footer {
        font-size: 0.8rem;
    }
}
a {
    color: var(--link);
    text-decoration: underline;
    text-decoration-color: var(--link-decoration);
    text-underline-position: from-font;
}
a:visited {
    color: var(--link);
}
a:hover {
    text-decoration-color: var(--link-decoration);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hubot Sans', system-ui, sans-serif;
    font-feature-settings: 'ss01';
    font-stretch: 75%;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary);
    line-height: 1.2;
    font-weight: 700;
}
h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
b {
    font-weight: 500;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
}
ul {
    list-style-type: square;
}
ul.writing {
    list-style-type: none;
    padding-left: 0;
    padding-top: 2rem;
    text-transform: capitalize;
}
li.writing {
    font-size: 2rem;
    line-height: 2rem;
    font-stretch: 75%;
    padding-bottom: 2rem;
}
li.writing:hover {
    color: var(--link-decoration);
}
@media screen and (max-width: 600px) {
    li.writing {
        font-size: 1.75rem;
        line-height: 1.75rem;
        font-stretch: 75%;
        padding-bottom: 1.75rem;
    }
}
